[binary_path]
   path=data/add-ons/Siege_Mod/
[/binary_path]
[textdomain]
    name="wesnoth-Siege_Mod"
    path="data/add-ons/Siege_Mod/translations"
[/textdomain]

#ifdef MULTIPLAYER
{~add-ons/Siege_Mod/images/terrain/gateStone/}
{~add-ons/Siege_Mod/images/terrain/bridgeStone}
{~add-ons/Siege_Mod/utils/}
{~add-ons/Siege_Mod/macros/}
[lua]
    code = <<
        wesnoth.dofile("~add-ons/Siege_Mod/utils/lua/RSM_recruit.lua")
    >>
[/lua]


#textdomain wesnoth-Siege_Mod
[modification]
    id=Siege_Mod  
    name=_ "Realistic Sieges"
    type=hybrid
    require_modification=yes
    description=_ "Applies real life principles like height to prevent soldiers outside a castle from just attacking the defenders with melee"



    [event] 
        name=prestart
        [set_menu_item]
            id=your_option_id
            description= _ "Recruit Siege Machine" 

            [show_if]
                [have_location]
                    x,y=$x1,$y1

                    # Selected tile must NOT be castle or keep
                    [not]
                        terrain=C*,K*
                    [/not]

                    # Selected tile must be adjacent to a leader on wooden castle
                    [filter_adjacent_location]
                        [filter]
                            side=$side_number
                            canrecruit=yes

                            [filter_location]
                                terrain=Ce*^*     # <-- use correct terrain code
                            [/filter_location]
                        [/filter]
                    [/filter_adjacent_location]
                [/have_location]
            [/show_if]

            [command]
                [RSM_recruit]
                    list = "Spearman,Bowman,Cavalryman"
                    to=chosenUnit
                [/RSM_recruit]
                [if]
                    [variable]
                        name=chosenUnit
                        exists=yes
                    [/variable]
                    [not]
                        [variable]
                            name=chosenUnit
                            equals=""
                        [/variable]
                    [/not]
                    [then] 
                        {RSM_MANUAL_RECRUIT $chosenUnit $side_number $x1 $y1}
                    [/then]
                [/if]
                [clear_variable]
                    name=chosenUnit
                [/clear_variable]
            [/command]
        [/set_menu_item]
    [/event]

    [event]
        name=exit_hex
        first_time_only=no
        #  this is meant to inform the restoreOriginalMoves macro
        #  each time a unit exits a hex we store it's current remaining moves-1
        #  of course depending on the terrain the unit steps on this is likely to be inacurate most of the time
        #  but since this is only implemented when a unit's movetype changes, and that particular terrain
        #  costs 1 movepoint regardless then when we actually use this variable it will be completely accurate.
        [set_variable]
            name=remaining_moves
            value="$($unit.moves - 1)"
        [/set_variable]
    [/event]

    [event]
        name=moveto
        first_time_only=no
        #  don't do anything at all to flying units
        [filter]
            [and]
                [filter_location]
                    x,y=$x1,$y1
                [/filter_location]

                formula = "self.movement_cost.unwalkable = null or self.movement_cost.unwalkable > self.max_moves" 
            [/and]
        [/filter]

        #  if standing on an elevator - grant elevator costs
        #  if standing on a rampart - grant rampart costs
        #  if standing on the ground grant ground costs
        [if]
            #  if the terrain is any type of castle
            [have_location]
                x,y=$x1,$y1
                terrain="C*,K*, K*^V*"
            [/have_location]
            [then]
                {HANDLE_WALL_LOGIC}
            [/then]
            [else]
                {HANDLE_GROUND_LOGIC}
            [/else]
        [/if]
        
        [clear_variable]
            name=remaining_moves
        [/clear_variable]
    [/event]


    [event]
        name=unit_placed
        first_time_only=no
        [filter]
            [and]
                [filter_location]
                    x,y=$x1,$y1
                [/filter_location]

                [not]
                    [filter_wml]
                        [variables]
                            placed_first_time=yes 
                        [/variables] 
                    [/filter_wml]
                [/not]
                formula = "self.movement_cost.unwalkable = null or self.movement_cost.unwalkable > self.max_moves" 
            [/and]  
        [/filter]      
        
        [if]
            #  if the terrain is any type of castle
            [have_location]
                x,y=$x1,$y1
                terrain="C*,K*,K*^V*"
            [/have_location]
            
            [then]
                #  if the unit is both standing on the castle and can't fly
                {HANDLE_WALL_LOGIC}
                {APPLY_CASTLE_MELEE}
            [/then]
            [else]
                {HANDLE_GROUND_LOGIC}
            [/else]
        [/if]
        [modify_unit]
            [filter]
                id=$unit.id
            [/filter]
            [variables]
                placed_first_time=yes
            [/variables]
        [/modify_unit]
    [/event]

    [event]
        name=recruit
        first_time_only=no
        [filter]
            x,y=$x1,$y1
            [not]
                race=undead
            [/not] 
            [not]
                race=mechanical
            [/not]
        [/filter]
        {ADD_ENGINEER_TRAIT_TO_RECRUITED}
    [/event]

[/modification]
#endif

#ifdef EDITOR
[binary_path]
   path=data/add-ons/Siege_Mod/
[/binary_path]
    {~add-ons/Siege_Mod/images/terrain/gateStone/}
    {~add-ons/Siege_Mod/images/terrain/bridgeStone/}
    {~add-ons/Siege_Mod/utils/}
#endif







