[binary_path]
   path=data/add-ons/Siege_Mod/
[/binary_path]
[textdomain]
    name="wesnoth-Siege_Mod"
    path="data/add-ons/Siege_Mod/translations"
[/textdomain]

#ifdef MULTIPLAYER
{~add-ons/Siege_Mod/images/terrain/gateStone/}
{~add-ons/Siege_Mod/images/terrain/bridgeStone}
{~add-ons/Siege_Mod/utils/}
{~add-ons/Siege_Mod/macros/}
[lua]
    code = <<
        wesnoth.dofile("~add-ons/Siege_Mod/utils/lua/RSM_recruit.lua")
    >>
[/lua]


#textdomain wesnoth-Siege_Mod
[modification]
    id=Siege_Mod  
    name=_ "Realistic Sieges"
    type=hybrid
    require_modification=yes
    description=_ "Applies real life principles like height to prevent soldiers outside a castle from just attacking the defenders with melee"



    [event] 
        name=prestart
        [set_menu_item]
            id=your_option_id
            description= _ "Recruit Siege Machine" 

            [show_if]
                [have_location]
                    x,y=$x1,$y1

                    # Selected tile must NOT be castle or keep
                    [not]
                        terrain=C*,K*
                    [/not]

                    # Selected tile must be adjacent to a leader on wooden castle
                    [filter_adjacent_location]
                        [filter]
                            side=$side_number
                            canrecruit=yes

                            [filter_location]
                                terrain=Ce*^*     # <-- use correct terrain code
                            [/filter_location]
                        [/filter]
                    [/filter_adjacent_location]
                [/have_location]
            [/show_if]

            [command]
                [RSM_recruit]
                    list = "Spearman,Bowman,Cavalryman"
                    to=chosenUnit
                [/RSM_recruit]
                [if]
                    [variable]
                        name=chosenUnit
                        exists=yes
                    [/variable]
                    [not]
                        [variable]
                            name=chosenUnit
                            equals=""
                        [/variable]
                    [/not]
                    [then] 
                        {RSM_MANUAL_RECRUIT $chosenUnit $side_number $x1 $y1}
                    [/then]
                [/if]
                [clear_variable]
                    name=chosenUnit
                [/clear_variable]
            [/command]
        [/set_menu_item]
    [/event]

    [event]
        name=exit_hex
        first_time_only=no
        #  this is meant to inform the restoreOriginalMoves macro
        #  each time a unit exits a hex we store it's current remaining moves-1
        #  of course depending on the terrain the unit steps on this is likely to be inacurate most of the time
        #  but since this is only implemented when a unit's movetype changes, and that particular terrain
        #  costs 1 movepoint regardless then when we actually use this variable it will be completely accurate.
        [set_variable]
            name=remaining_moves
            value="$($unit.moves - 1)"
        [/set_variable]
    [/event]

    [event]
        name=moveto
        first_time_only=no
        [set_variable] 
            name=max_moves
            value=$unit.max_moves
        [/set_variable]
        [set_variable]
            name=unwalkable_movement_cost
            value=$unit.movement_costs.unwalkable
        [/set_variable]
        [set_variable]
            name=currentMoveCosts
            value=null
        [/set_variable]

        [if]
            #  if the terrain is any type of castle
            [have_location]
                x,y=$x1,$y1
                terrain="C*,K*, K*^V*"
            [/have_location]
            [and]
                [variable]
                    name=unwalkable_movement_cost
                    equals=""
                [/variable]
                [or]
                    [variable]
                        name=unwalkable_movement_cost
                        greater_than=$unit.max_moves
                    [/variable]
                [/or]
            [/and]
            [then]
                {REMOVE_DEFENSIVE_SIEGE_MACHINE}
                #  if the unit is both standing on the castle and can't fly
                [if]
                    #  if the unit stands on a stair keep
                    [have_location]
                        x,y=$x1,$y1
                        terrain="K*^V*"
                    [/have_location]
                    [not]
                        [variable]
                            name=unit.variables.currentMoveCosts
                            contains="elevatorCosts_$unit.id" 
                        [/variable]
                    [/not]
                    [then]
                        [set_variable]
                            name=unit.variables.currentMoveCosts
                            value="elevatorCosts_$unit.id"
                        [/set_variable]
                        {APPLY_ELEVATOR_COSTS}
                        {castleZOC_OFF}
                        {REMOVE_GROUND_COSTS}
                        {REMOVE_RAMPART_COSTS}
                        {RESTORE_MOVES}
                    [/then]
                    [elseif]
                        [not]
                            [have_location]
                                x,y=$x1,$y1
                                terrain="K*^V*"
                            [/have_location]
                        [/not]
                        [not]
                            [variable]
                                name=unit.variables.currentMoveCosts
                                contains="rampartCosts_$unit.id" 
                            [/variable]
                        [/not]
                        [then]
                            [set_variable]
                                name=unit.variables.currentMoveCosts
                                value="rampartCosts_$unit.id"
                            [/set_variable]
                            {castleZOC_ON}
                            {APPLY_RAMPART_COSTS}
                            {REMOVE_GROUND_COSTS}
                            {REMOVE_ELEVATOR_COSTS}
                            {DEFENSIVE_SIEGE_MACHINE}
                            {RESTORE_MOVES}
                        [/then]
                    [/elseif]
                [/if]
            [/then]
            [elseif]
                #  if this evaluates true than the unit must not be standing on a castle
                #  or else the previous would have evaluated true instead
                [variable]
                    name=unwalkable_movement_cost
                    equals=""
                [/variable]
                [or]
                    [variable]
                        name=unwalkable_movement_cost
                        greater_than=$unit.max_moves
                    [/variable]
                [/or]
                [not]
                    [variable]
                        name=unit.variables.currentMoveCosts
                        contains="groundCosts_$unit.id" 
                    [/variable]
                [/not]
                [then]
                    [set_variable]
                        name=unit.variables.currentMoveCosts
                        value="groundCosts_$unit.id"
                    [/set_variable]
                    {APPLY_GROUND_COSTS}
                    {REMOVE_ELEVATOR_COSTS}
                    {REMOVE_RAMPART_COSTS}
                    {castleZOC_OFF}
                    {RESTORE_MOVES}
                [/then]
            [/elseif]
            [else]
                #  the first condition checks if a unit can't fly, and if he is on a specific terrain
                #  the second condition checks to see if he can't fly as well, but since something must have evaluated false to
                #  get beyond the first condition it only needs to check one of the conditions, if the condition checked is true
                #  the other one must be false, if both of them are false or if just can_fly is false, then we will reach the else
                #  which is just for units that can_fly
            [/else]
        [/if]
        
        [clear_variable]
            name=remaining_moves
        [/clear_variable]
        [clear_variable]
            name=max_moves
        [/clear_variable]
        [clear_variable]
            name=unwalkable_movement_cost
        [/clear_variable]
    [/event]


    [event]
        name=unit_placed
        first_time_only=no
        [filter]
            x,y=$x1,$y1
            [not]
                [filter_wml]
                    [variables]
                        placed_first_time=yes 
                    [/variables]
                [/filter_wml]
            [/not]
        [/filter]
        [set_variable]
            name=max_moves
            value=$unit.max_moves
        [/set_variable]
        [set_variable]
            name=unwalkable_movement_cost
            value=$unit.movement_costs.unwalkable
        [/set_variable]

        [if]
            #  if the terrain is any type of castle
            [have_location]
                x,y=$x1,$y1
                terrain="C*,K*,K*^V*"
            [/have_location]
            [and]
                [variable]
                    name=unwalkable_movement_cost
                    equals=""
                [/variable]
                [or]
                    [variable]
                        name=unwalkable_movement_cost
                        greater_than=$unit.max_moves
                    [/variable]
                [/or]
            [/and]
            [then]
                #  if the unit is both standing on the castle and can't fly
                [if]
                    [have_location]
                        x,y=$x1,$y1
                        terrain="K*^V*"
                    [/have_location]
                    [then]
                        [set_variable]
                                name=unit.variables.currentMoveCosts
                                value="elevatorCosts_$unit.id"
                            [/set_variable]
                        {castleZOC_OFF }
                        {APPLY_ELEVATOR_COSTS }
                    [/then]
                    [elseif]
                        [not]
                            [have_location]
                                x,y=$x1,$y1
                                terrain="K*^V*"
                            [/have_location]
                        [/not]
                        [not]
                            [variable]
                                name=unit.variables.currentMoveCosts
                                contains="rampartCosts_$unit.id" 
                            [/variable]
                        [/not]
                        [then]
                            [set_variable]
                                name=unit.variables.currentMoveCosts
                                value="rampartCosts_$unit.id"
                            [/set_variable]
                            {castleZOC_ON}
                            {APPLY_RAMPART_COSTS}
                            {DEFENSIVE_SIEGE_MACHINE}
                        [/then]
                    [/elseif]
                    [else]
                        [set_variable]
                            name=unit.variables.currentMoveCosts
                            value="rampartCosts_$unit.id"
                        [/set_variable]
                        {APPLY_RAMPART_COSTS}
                        {castleZOC_ON }
                    [/else]
                [/if]
                {APPLY_CASTLE_MELEE}
            [/then]
            [elseif]
                #  if this evaluates true than the unit must not be standing on a castle
                #  or else the previous would have evaluated true instead
                [variable]
                    name=unwalkable_movement_cost
                    equals=""
                [/variable]
                [or]
                    [variable]
                        name=unwalkable_movement_cost
                        greater_than=$unit.max_moves
                    [/variable]
                [/or]
                [then]
                    [set_variable]
                        name=unit.variables.currentMoveCosts
                        value="groundCosts_$unit.id"
                    [/set_variable]
                    {APPLY_GROUND_COSTS}
                    {APPLY_CASTLE_MELEE}
                [/then]
            [/elseif]
            [else]
                #  the first condition checks if a unit can't fly, and if he is on a specific terrain
                #  the second condition checks to see if he can't fly as well, but since something must have evaluated false to
                #  get beyond the first condition it only needs to check one of the conditions, if the condition checked is true
                #  the other one must be false, if both of them are false or if just can_fly is false, then we will reach the else
                #  which is just for units that can_fly
            [/else]
        [/if]
        [clear_variable]
            name=max_moves
        [/clear_variable]
        [clear_variable]
            name=unwalkable_movement_cost
        [/clear_variable]
    [/event]

    [event]
        name=recruit
        first_time_only=no
        [filter]
            x,y=$x1,$y1
            [not]
                race=undead
            [/not] 
            [not]
                race=mechanical
            [/not]
        [/filter]
        {ADD_ENGINEER_TRAIT_TO_RECRUITED}
    [/event]

[/modification]
#endif

#ifdef EDITOR
[binary_path]
   path=data/add-ons/Siege_Mod/
[/binary_path]
    {~add-ons/Siege_Mod/images/terrain/gateStone/}
    {~add-ons/Siege_Mod/images/terrain/bridgeStone/}
    {~add-ons/Siege_Mod/utils/}
#endif







#  TODO repair gate castle images
#  make the gate castles switch between open and closed images when unit is on them

#  make bridge castle images
#make water units be able to pass through enemies if they are on a bridge castle

