#define WEAPON_SPECIAL_KNOCKBACK
	[damage]
		id=knockback
		name= _ "knockback"
		description= _ "When this attack is used offensively, at the end of the fight the enemy will be knocked back."
		active_on=offense
	[/damage]
#enddef
