#define ADD_ENGINEER_TRAIT_TO_RECRUITED
    [store_unit]
        [filter]
            x,y=$x1,$y1
        [/filter]
        variable=advanced
        kill=no
    [/store_unit]

    
    {VARIABLE_OP engineering rand (1..4)}
    [if]
        [variable]
            name=engineering
            equals=1
        [/variable]
        [then]
            #textdomain wesnoth-help
            {VARIABLE_OP replaceTraitIndex rand (1..$advanced.modifications.trait.length)}
            
            [set_variable]
                name=replaceTraitIndex
                sub=1
            [/set_variable]
            [set_variables]
                name=advanced.modifications.trait[$replaceTraitIndex]
                [value]
                    id=siege_engineer
                    male_name=_"engineer"
                    female_name=_"Engineer^loyal"
                [/value]
                mode=replace
            [/set_variables]
        [/then]
    [/if]
    [unstore_unit]
        variable=advanced
        find_vacant=no
    [/unstore_unit]
    [if]
        [variable]
            name=engineering
            value=1
        [/variable]
        [then]
            [store_unit]
                [filter]
                    x,y=$x1,$y1
                [/filter]
                variable=advanced2
                kill=yes
            [/store_unit]
            [unit]	#Doesn't flash white like the previous way to do it
                side=$advanced2.side
                x=$advanced2.x
                y=$advanced2.y
                experience=$advanced2.experience
                canrecruit=$advanced2.canrecruit
                variation=$advanced2.variation
                type=$advanced2.type
                id=$advanced2.id
                moves=$advanced2.moves
                hitpoints=$advanced2.hitpoints
                gender=$advanced2.gender
                name=$advanced2.name
                facing=$advanced2.facing
                extra_recruit=$advanced2.extra_recruit
                attacks_left=0
                moves=0
                underlying_id=$advanced2.underlying_id
                unrenamable=$advanced2.unrenamable
                animate=no
                [insert_tag]
                    name=status
                    variable=advanced2.status
                [/insert_tag]
                [insert_tag]
                    name=modifications
                    variable=advanced2.modifications
                [/insert_tag]
                [insert_tag]
                    name=variables
                    variable=advanced2.variables
                [/insert_tag]
            [/unit]
            [update_stats]
                x,y=$advanced2.x $advanced2.y
            [/update_stats]
        [/then]
        [else]
            [update_stats]
                x,y=$x1 $y1
            [/update_stats]
        [/else]
    [/if]
#enddef 