#define APPLY_RAMPART_COSTS
    [lua]
        code = <<
            local unit = wesnoth.units.get(wml.variables["x1"], wml.variables["y1"])
            local raw_string = "rampartCosts_" .. unit.id
            local processed_string = raw_string:gsub("[%s-]+", "_")
            wesnoth.set_variable("objectId", processed_string)
        >>
    [/lua]
    [object]
        id=$objectId
        take_only_once=no
        silent=yes
        duration=scenario
        [filter]
            x,y=$x1,$y1
        [/filter]
        [effect]
            apply_to=movement_costs
            replace=yes
            [movement_costs]
                deep_water=99
                shallow_water=99
                reef=99
                swamp_water=99
                flat=99
                sand=99
                forest=99
                hills=99
                mountains=99
                village=99
                cave=99
                frozen=99
                unwalkable=99
                impassable=99
                castle=1
            [/movement_costs]
        [/effect]
        [effect]
            apply_to=vision_costs
            replace=yes
            [vision_costs]
                deep_water=1
                shallow_water=1
                reef=1
                swamp_water=1
                flat=1
                sand=1
                forest=3
                hills=2
                mountains=5
                village=1
                castle=1
                cave=1
                frozen=1
                unwalkable=1
                impassable=99
            [/vision_costs]
        [/effect]
    [/object]
    [clear_variable]
        name=objectId
    [/clear_variable]
#enddef
#define REMOVE_RAMPART_COSTS
    [lua]
        code = <<
            local unit = wesnoth.units.get(wml.variables["x1"], wml.variables["y1"])
            local raw_string = "rampartCosts_" .. unit.id
            local processed_string = raw_string:gsub("[%s-]+", "_")
            wesnoth.set_variable("objectId", processed_string)
        >>
    [/lua]
    [remove_object]
        [filter]
            x,y=$x1,$y1
        [/filter]
        object_id=$objectId
    [/remove_object]
    [modify_unit]
        [filter]
            id=$unit.id
        [/filter]
        [rebuild]
        [/rebuild]
    [/modify_unit]
    [clear_variable]
        name=objectId
    [/clear_variable]
#enddef
