#  we want units that are standing next to gates to be able to teleport
#  to other hexes adjacent to the gate, if the gate is open
#define HANDLE_GATE_MOVEMENT
    [modify_unit]
        [filter]
            x,y=$x1,$y1
        [/filter]
        [object]
            id=gate_ability
            duration=scenario
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_GATE}
                [/abilities]
            [/effect]
        [/object]
    [/modify_unit]
#enddef

#define ABILITY_GATE
	[teleport]
		id=gate
		[tunnel]
			bidirectional=true
			[source]
                terrain=Chg^*
				radius=1
			[/source]
			[target]
				terrain=Chg^*
				radius=1
                formula="distance_between(loc, teleport_unit.loc) <= 2 and not unit_at(loc)" 
			[/target]
		[/tunnel]
        inline=yes 
	[/teleport]
#enddef

#  TODO: find a way to ensure that units may only pass through gates when they are open
#  either because of battering ram, or because of some other reason


#  TODO: make units be able to fight the unit on the other side of the gate when the gates are open