#  we want units that are standing next to gates to be able to teleport
#  to other hexes adjacent to the gate, if the gate is open
#define HANDLE_GATE_MOVEMENT
    [modify_unit]
        [filter]
            x,y=$x1,$y1
        [/filter]
        [object]
            id=gate_ability
            duration=scenario
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_GATE}
                [/abilities]
            [/effect]
        [/object]
    [/modify_unit]
#enddef

#define ABILITY_GATE
	[teleport]
		id=gate
		[tunnel]
            id=teleport_through_gate
			bidirectional=true
			[source]
                terrain=Chg^*
				radius=1
			[/source]
			[target]
				terrain=Chg^*
				radius=1
                formula="distance_between(loc, teleport_unit.loc) <= 2 and not unit_at(loc)" 
			[/target]
            [filter]
                ability=gate
            [/filter]
		[/tunnel] 
        inline=yes 
	[/teleport]
#enddef

#  the gate terrain should be paired with an adjacent staircase to allow units to change to the rampart movement cost