#define APPLY_TUNNELING
    [modify_unit]
        [filter]
            x,y=$x1,$y1
        [/filter]
        [object]
            id=tunneling_ability
            duration=scenario
            [effect]
                apply_to=new_ability
                [abilities]
                    {TUNNEL}
                [/abilities]
            [/effect]
        [/object]
    [/modify_unit]
#enddef 

#define TUNNEL
    [teleport]
        id=tunnel
        check_passability=no
        [tunnel] 
            id=tunnel_teleport

            [source] 
                terrain=*^Tnl
                formula=" 
                    (unit = teleport_unit or not unit)
                where
                    unit = unit_at(loc)
                " 
            [/source] 
            
            [target]
                terrain=*^Tnl
                #  links tunnels based off of how far away they are
                formula="distance_between(loc, teleport_unit.loc) <= 5 and not unit_at(loc) and (unit.max_moves<5 or unit.moves >= 5)"   
            [/target]
     
            [filter]  
                ability=tunnel   
            [/filter]   
        [/tunnel]
        inline=yes
    [/teleport]
#enddef 