#define APPLY_ELEVATOR_COSTS
    [lua]
        code = <<
            local unit = wesnoth.units.get(wml.variables["x1"], wml.variables["y1"])
            local raw_string = "elevatorCosts_" .. unit.id
            local processed_string = raw_string:gsub("[%s-]+", "_")
            wesnoth.set_variable("objectId", processed_string)
        >>
    [/lua]
    [set_variable]
        name=cost
        value="$(($unit.max_moves / 2 + 1))"
    [/set_variable]
    [object]
        id=$objectId
        take_only_once=no
        silent=yes
        duration=scenario
        [filter]
            x,y=$x1,$y1
        [/filter]
        [effect]
            apply_to=movement_costs
            replace=yes
            [movement_costs]
                deep_water=99
                shallow_water=$cost
                reef=$cost
                swamp_water=$cost
                flat=$cost
                sand=$cost
                forest=$cost
                hills=$cost
                mountains=$cost
                village=$cost
                cave=$cost
                frozen=$cost
                unwalkable=99
                impassable=99 
                castle=$cost
            [/movement_costs]
        [/effect]
    [/object]

    [clear_variable]
        name=objectId
    [/clear_variable]
#enddef

#define REMOVE_ELEVATOR_COSTS
    [lua]
        code = <<
            local unit = wesnoth.units.get(wml.variables["x1"], wml.variables["y1"])
            local raw_string = "elevatorCosts_" .. unit.id
            local processed_string = raw_string:gsub("[%s-]+", "_")
            wesnoth.set_variable("objectId", processed_string)
        >>
    [/lua]
    [remove_object]
        [filter]
            x,y=$x1,$y1
        [/filter]
        object_id=$objectId
    [/remove_object]
    
    [modify_unit]
        [filter]
            id=$unit.id
        [/filter]
        [rebuild]
        [/rebuild]
    [/modify_unit]
    
    [clear_variable]
        name=objectId
    [/clear_variable]
#enddef