#define APPLY_ELEVATOR_COSTS
    [lua]
        code = <<
            local unit = wesnoth.units.get(wml.variables["x1"], wml.variables["y1"])
            local raw_string = "elevatorCosts_" .. unit.id
            local processed_string = raw_string:gsub("[%s-]+", "_")
            wesnoth.set_variable("objectId", processed_string)
        >>
    [/lua]
    [object]
        id=$objectId
        take_only_once=no
        silent=yes
        duration=scenario
        [filter]
            x,y=$x1,$y1
        [/filter]
        [effect]
            apply_to=movement_costs
            replace=yes
            [movement_costs]
                deep_water=99
                shallow_water=$unit.max_moves
                reef=$unit.max_moves
                swamp_water=$unit.max_moves
                flat=$unit.max_moves
                sand=$unit.max_moves
                forest=$unit.max_moves
                hills=$unit.max_moves
                mountains=$unit.max_moves
                village=$unit.max_moves
                cave=$unit.max_moves
                frozen=$unit.max_moves
                unwalkable=99
                impassable=99
                castle=$unit.max_moves
            [/movement_costs]
        [/effect]
    [/object]

    [clear_variable]
        name=objectId
    [/clear_variable]
#enddef

#define REMOVE_ELEVATOR_COSTS
    [lua]
        code = <<
            local unit = wesnoth.units.get(wml.variables["x1"], wml.variables["y1"])
            local raw_string = "elevatorCosts_" .. unit.id
            local processed_string = raw_string:gsub("[%s-]+", "_")
            wesnoth.set_variable("objectId", processed_string)
        >>
    [/lua]
    [remove_object]
        [filter]
            x,y=$x1,$y1
        [/filter]
        object_id=$objectId
    [/remove_object]
    
    [modify_unit]
        [filter]
            id=$unit.id
        [/filter]
        [rebuild]
        [/rebuild]
    [/modify_unit]
    
    [clear_variable]
        name=objectId
    [/clear_variable]
#enddef