#  essentially I think, these costs should be mostly identical to ground costs, except from
#  here the unit has unrestricted access to walls, but not keep terrain
#  when the unit exitsthe gate terrain, if they are on the ground instead of on a castle, their movement cost reverts to 
#  the one they currently deserve, ground for ground, rampart for castle

#  the main difference is that from a gate terrain, rather than making an update in a moveto, the update is in an exit_hex
#  this makes a gate more of a threat to castle defenders when lost, and a stair tower the more defensive option
#  however a stair tower does not allow siege equipment through, neither should it restrict melee combat


#  Gate Attributes
#  handle elevator changes in an exit_hex instead of moveto
#  prevent movement between gate and keep hexes when standing on a gate
#  stair should not allow mounted units to pass through
#  do not allow melee combat between units in the gate and on the ground, unless the gate is open (ie: because of battering ram)
#  gate allows siege equipment to pass through
#  gate allows mounted units to pass through


#define APPLY_GATE_COSTS
    [lua]
        code = <<
            local unit = wesnoth.units.get(wml.variables["x1"], wml.variables["y1"])
            local raw_string = "gateCosts_" .. unit.id
            local processed_string = raw_string:gsub("[%s-]+", "_")
            wesnoth.set_variable("objectId", processed_string)
        >>
    [/lua]
    [set_variable]
        name=cost
        value="$(($unit.max_moves / 2 + 1))"
    [/set_variable]
    [object]
        id=$objectId
        take_only_once=no
        silent=yes
        duration=scenario
        [filter]
            x,y=$x1,$y1
        [/filter]
        [effect]
            apply_to=movement_costs
            replace=yes
            [movement_costs]
                deep_water=99
                shallow_water=$cost
                reef=$cost
                swamp_water=$cost
                flat=$cost
                sand=$cost
                forest=$cost
                hills=$cost
                mountains=$cost
                village=$cost
                cave=$cost
                frozen=$cost
                unwalkable=99
                impassable=99 
                castle=$cost
                Ce=1
            [/movement_costs]
        [/effect]
    [/object]

    [clear_variable]
        name=objectId
    [/clear_variable]
#enddef

#define REMOVE_GATE_COSTS
    [lua]
        code = <<
            local unit = wesnoth.units.get(wml.variables["x1"], wml.variables["y1"])
            local raw_string = "gateCosts_" .. unit.id
            local processed_string = raw_string:gsub("[%s-]+", "_")
            wesnoth.set_variable("objectId", processed_string)
        >>
    [/lua]
    [remove_object]
        [filter]
            x,y=$x1,$y1
        [/filter]
        object_id=$objectId
    [/remove_object]
    
    [modify_unit]
        [filter]
            id=$unit.id
        [/filter]
        [rebuild]
        [/rebuild]
    [/modify_unit]
    
    [clear_variable]
        name=objectId
    [/clear_variable]
#enddef