#  #  we want units that are standing next to gates to be able to teleport
#  #  to other hexes adjacent to the gate, if the gate is open
#  #define HANDLE_GATE_MOVEMENT
#      [modify_unit]
#          [filter]
#              x,y=$x1,$y1
#          [/filter]
#          [object]
#              id=gate_ability
#              duration=scenario
#              [effect]
#                  apply_to=new_ability
#                  [abilities]
#                      {ABILITY_GATE}
#                  [/abilities]
#              [/effect]
#          [/object]
#      [/modify_unit]
#  #enddef

#  #define ABILITY_GATE
#  	[teleport]
#  		id=gate
#  		[tunnel]
#              id=teleport_through_gate
#  			bidirectional=true
#  			[source]
#                  terrain=Chg^*
#  				radius=1
#  			[/source]
#  			[target]
#  				terrain=Chg^*
#  				radius=1
#                  #  formula="distance_between(loc, teleport_unit.loc) <= 2 and (unit_at(loc) != null and unit_at(loc).team_name = teleport_unit.team_name)"
#                  #  if a unit exists adjacent to the current teleport possibility, who is not on my side and is also standing on a gate hex
#                  formula="distance_between(loc, teleport_unit.loc) <= 2 and (not exists(u, adjacent_locs(loc), unit_at(a.x, a.y).side = teleport_unit.side))"
#                  #  formula = "(distance_between(loc, teleport_unit.loc) <= 2 and not exists(a, adjacent_locs(loc),unit_at(a.x, a.y) != null and (a.terrain = 'Chg')and unit_at(a.x, a.y).side = teleport_unit.side))"
#                  #  formula="
#                  #      (
#                  #          distance_between(loc, teleport_unit.loc) <= 2
#                  #          and not exists(a, adjacent_locs(loc), 
#                  #              unit_at(a.x, a.y) != null
#                  #              and a.terrain = 'Chg'
#                  #              and unit_at(a.x, a.y).side != teleport_unit.side
#                  #          )
#                  #      )
#                  #      "



 


#                  #  we need to adjust this formula to ensure that we check only that the unit on the loc is not an enemy
#                  #  and further that the battering ram has not enabled teleportation between the two
#  			[/target]
#              [filter] 
#                  ability=gate
#              [/filter]
#  		[/tunnel] 
#          inline=yes 
#  	[/teleport]
#  #enddef

#  the gate terrain should be paired with an adjacent staircase to allow units to change to the rampart movement cost


#  I am going to be honest we don't necessarily need teleportation here
#  what we really should do is either use the gate to instantly toggle between ground and castle movement costs
#  or we should use elevator costs on it. The main advantage of using a gate rather than a stair is that melee
#  is impossible with any unit except a battering ram
#  but when you do fight a battering ram it is very effective at attacking a gate, and might even throw a unit back off of a gate