#define APPLY_CASTLE_MELEE
    [modify_unit]
        [filter]
            id=$unit.id
        [/filter]
        [object]
            id=disabled_melee_object
            [effect]
                apply_to=attack
                range=melee
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_CASTLE_DISABLE_MELEE}
                    {WEAPON_SPECIAL_RAMPART_MELEE}
                [/set_specials]
            [/effect]
            [effect]
                apply_to=attack
                range=ranged
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_RAMPART_RANGED}
                [/set_specials]
            [/effect]
        [/object]
    [/modify_unit]
#enddef



#define WEAPON_SPECIAL_CASTLE_DISABLE_MELEE
    
    [disable]
        id=castle_disable_melee
        active_on=offense
        apply_to=both
        [filter_opponent]
            [filter_location]
                terrain=C*,K*, C*^*, K*^*
            [/filter_location]
            [not]
                [filter_location]
                    terrain=K*^V*
                [/filter_location]
            [/not]
        [/filter_opponent]
        [filter_self]
            [not]
                [filter_location]
                    terrain=C*,K*, C*^*, K*^*
                [/filter_location]
            [/not]
        [/filter_self]
    [/disable]
    [disable]
        id=castle_disable_melee
        active_on=offense
        apply_to=both
        [filter_self]
            [filter_location]
                terrain=C*,K*, C*^*, K*^*
            [/filter_location]
            [not]
                [filter_location]
                    terrain=K*^V*
                [/filter_location]
            [/not]
        [/filter_self]
        [filter_opponent]
            [not]
                [filter_location]
                    terrain=C*,K*, C*^*, K*^*
                [/filter_location]
            [/not]
        [/filter_opponent]
    [/disable]
#enddef

#define WEAPON_SPECIAL_RAMPART_MELEE
    [chance_to_hit]
        id=castle_melee
        apply_to=self
        [filter_self]
            [filter_location]
                terrain=K*^*
            [/filter_location]
        [/filter_self]
        [filter_opponent]
            [filter_location]
                terrain=K*^*, C*^*
            [/filter_location]
        [/filter_opponent]
        value=60
    [/chance_to_hit]
    [chance_to_hit]
        id=castle_melee
        apply_to=self
        [filter_self]
            [filter_location]
                terrain=C*^*
            [/filter_location]
        [/filter_self]
        [filter_opponent]
            [filter_location]
                terrain=C*^*
            [/filter_location]
        [/filter_opponent]
        value=60
    [/chance_to_hit]
    [chance_to_hit]
        id=castle_melee
        apply_to=self
        [filter_self]
            [filter_location]
                terrain=C*^*
            [/filter_location]
        [/filter_self]
        [filter_opponent]
            [filter_location]
                terrain=K*^*
            [/filter_location]
        [/filter_opponent]
        value=50
    [/chance_to_hit]
#enddef

#define WEAPON_SPECIAL_RAMPART_RANGED
    [chance_to_hit]
        id=castle_ranged
        apply_to=self
        [filter_self]
            [filter_location]
                terrain=C*^*
            [/filter_location]
        [/filter_self]
        [filter_opponent]
            [filter_location]
                terrain=K*^*
            [/filter_location]
        [/filter_opponent]
        value=40
    [/chance_to_hit]
#enddef