#define castleZOC_ON
    [lua]
        code = <<
            local unit = wesnoth.units.get(wml.variables["x1"], wml.variables["y1"])
            local raw_string = "castleZOC_" .. unit.id
            local processed_string = raw_string:gsub("[%s-]+", "_")
            wesnoth.set_variable("objectId", processed_string)
        >>
    [/lua]
    #  give unit on the wall skirmisher so units standing outside the castle do not restrict his movement
    [object]
        id=$objectId
        silent=yes
        [filter]
            x,y=$x1,$y1
        [/filter]
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_SKIRMISHER}
            [/abilities]
        [/effect]
    [/object]
    #  remove ZOC from unit on the walls so units outside the castle are not physically impeded by units on the walls
    [modify_unit]
        [filter]
            x,y=$x1,$y1
        [/filter]
        zoc=no
    [/modify_unit]
    [clear_variable]
        name=objectId
    [/clear_variable]
#enddef

#define castleZOC_OFF
    [lua]
        code = <<
            local unit = wesnoth.units.get(wml.variables["x1"], wml.variables["y1"])
            local raw_string = "castleZOC_" .. unit.id
            local processed_string = raw_string:gsub("[%s-]+", "_")
            wesnoth.set_variable("objectId", processed_string)
            
        >>
    [/lua]
    [remove_object]
        [filter]
            x,y=$x1,$y1
        [/filter]
        object_id=$objectId
    [/remove_object]


    [modify_unit]
        [filter]
            x,y=$x1,$y1
        [/filter]
        zoc=yes
    [/modify_unit]
    [clear_variable]
        name=objectId
    [/clear_variable]
#enddef