#define RSM_MANUAL_RECRUIT TYPE SIDE X Y
    #  get unit cost
    [lua]
        code=<<
           wml.variables.unit_cost = wesnoth.unit_types[wml.variables["chosenUnit"]].cost
        >>
    [/lua]

    [gold]
        side={SIDE}
        amount=-$unit_cost
    [/gold]

    [unit]
        type={TYPE}
        side={SIDE}
        x,y={X},{Y}
        find_vacant=no
        moves=0
    [/unit]

    [animate_unit]
        flag=recruit
        [filter]
            x,y={X},{Y}
        [/filter]
    [/animate_unit]

    [event]
        name=recruit
        first_time_only=no
        [filter]
            x,y={X},{Y}
        [/filter]
    [/event]

    [redraw]
        side=$side_number
    [/redraw]

    [clear_variable]
        name=unit_cost
    [/clear_variable]
#enddef
