#define HANDLE_WALL_LOGIC
    #  the unit must be standing on some type of castle tile
    #  check if that tile is a stair 
    #  if it is not a stair it must be a rampart
    #  - only make changes if that unit has not already been assigned the type of move cost


    {REMOVE_DEFENSIVE_SIEGE_MACHINE}
    [if]
        #  if the unit stands on a stair keep
        [have_location]
            x,y=$x1,$y1
            terrain="K*^V*"
        [/have_location]
        [not]
            [variable]
                name=unit.variables.currentMoveCosts
                contains="elevatorCosts_$unit.id" 
            [/variable]
        [/not]
        [then]
            [set_variable]
                name=unit.variables.currentMoveCosts
                value="elevatorCosts_$unit.id"
            [/set_variable]
            {APPLY_ELEVATOR_COSTS}
            {castleZOC_OFF}
            {REMOVE_GROUND_COSTS}
            {REMOVE_RAMPART_COSTS}
            {RESTORE_MOVES}
        [/then]
        [elseif]
            [not]
                [have_location]
                    x,y=$x1,$y1
                    terrain="K*^V*"
                [/have_location]
            [/not]
            [not]
                [variable]
                    name=unit.variables.currentMoveCosts
                    contains="rampartCosts_$unit.id" 
                [/variable]
            [/not]
            [then]
                [set_variable]
                    name=unit.variables.currentMoveCosts
                    value="rampartCosts_$unit.id"
                [/set_variable]
                {castleZOC_ON}
                {APPLY_RAMPART_COSTS}
                {REMOVE_GROUND_COSTS}
                {REMOVE_ELEVATOR_COSTS}
                {DEFENSIVE_SIEGE_MACHINE}
                {RESTORE_MOVES}
            [/then]
        [/elseif]
    [/if]
#enddef