#define HANDLE_GROUND_LOGIC
    [if]
        #  if the unit does not already have ground costs
        [not]
            [variable]
                name=unit.variables.currentMoveCosts
                contains="groundCosts_$unit.id" 
            [/variable]
        [/not]
        [then]
            [set_variable]
                name=unit.variables.currentMoveCosts
                value="groundCosts_$unit.id"
            [/set_variable]
            {APPLY_GROUND_COSTS}
            {REMOVE_ELEVATOR_COSTS}
            {REMOVE_RAMPART_COSTS}
            {castleZOC_OFF}
            {RESTORE_MOVES}
        [/then]
    [/if]
#enddef