#define enableRecruitSiegeMachines
    [event]
        name=mouse_enter
        first_time_only=no
        [message]
            speaker=unit
            message=_ "attempting to create a castle overlay"
        [/message]
        [then]
            [store_locations]
                variable=hovered_hex
                x,y=$x1,$y1
            [/store_locations]
            [terrain]
                x,y=$x1,$y1
                overlay=overlay
                terrain=^Cov
            [/terrain]
            [allow_undo]
            [/allow_undo]
        [/then]
        #  [if]
        #      #  if there is an adjacent castle hex, and the current hex is flat
        #      [have_location]
        #          [filter_adjacent_location]
        #              x,y=$x1,$y1
        #              terrain="C*,K*"
        #          [/filter_adjacent_location]
        #      [/have_location]
        #      [not]
        #          [have_location]
        #              x,y=$x1,$y1
        #              terrain=Q*,Mv,Mm^Xm,Md^Xm,Ms^Xm,Mdd^Xm,X*,*^X*,*^Q* 
        #          [/have_location]     
        #      [/not]
        #      [then]
        #          #  if adjacent castle hexes exist, let's store them
        #          [store_locations]
        #              variable=adjacent_castle_hexes
        #              [filter_adjacent_location]
        #                  x,y=$x1, $y1
        #                  adjacent=n,ne,se,s,sw,nw
        #              [/filter_adjacent_location]
        #              terrain="C*,K*"
        #          [/store_locations]
        #          #  check to see if the adjacent castle is connected to a keep, and if there is a leader on that keep who can recruit
        #          [foreach]
        #              array=adjacent_castle_hexes
        #              variable=castle
        #              [do]
        #                  [lua]
        #                      code = <<
        #                          local x, y = $x1, $y1
        #                          local current_side = wesnoth.current.side
        #                          local side_info = wesnoth.sides[current_side]

        #                          if not (side_info.controller == "human" and side_info.is_local) then
        #                              return
        #                          end
        #                          wesnoth.set_variable("connectedToLeader", castle_connected_to_leader(x, y, current_side))
        #                      >>
        #                  [/lua]
        #                  [message]
        #                      speaker=unit
        #                      message=_ "connectedToLeader: $connectedToLeader"
        #                  [/message]
        #                  [if]
        #                      [variable]
        #                          name=connectedToLeader
        #                          value=true
        #                      [/variable]
        #                      [then]
        #                          [store_locations]
        #                              variable=hovered_hex
        #                              x,y=$x1,$y1
        #                          [/store_locations]
        #                          [terrain]
        #                              x,y=$x1,$y1
        #                              overlay=overlay
        #                              terrain=^Cov
        #                          [/terrain]
        #                          [allow_undo]
        #                          [/allow_undo]
        #                      [/then]
        #                  [/if]
        #              [/do]
        #          [/foreach]
        #      [/then]
        #  [/if]
    [/event]
    #  activates if the hovered_hex variable is defined
    [event]
        name=mouse_leave
        first_time_only=no

        [then]
            # Restore original terrain
            [terrain]
                x,y=$x1,$y1
                terrain=$hovered_hex.terrain
            [/terrain]
            [allow_undo]
            [/allow_undo]

            [clear_variable]
                name=hovered_hex
            [/clear_variable]
        [/then]
        #  [if]
        #      [variable]
        #          name=hovered_hex.x
        #          equals=$x1
        #      [/variable]
        #      [variable]
        #          name=hovered_hex.y
        #          equals=$y1
        #      [/variable]
        #      [then]
        #          # Restore original terrain
        #          [terrain]
        #              x,y=$x1,$y1
        #              terrain=$hovered_hex.terrain
        #          [/terrain]
        #          [allow_undo]
        #          [/allow_undo]

        #          [clear_variable]
        #              name=hovered_hex
        #          [/clear_variable]
        #      [/then]
        #  [/if]
    [/event]
#enddef