#  we might want to check to make sure the unit was not stopped by ZOC, but for now this should be fine

#define RESTORE_MOVES
    [if]
        [variable]
            name=remaining_moves
            greater_than=0
        [/variable]
        [variable]
            name=unit.attacks_left
            not_equals=0
        [/variable]
        [then]
            [modify_unit]
                [filter]
                    x,y=$x1,$y1
                [/filter]
                moves=$remaining_moves
            [/modify_unit]
        [/then]
    [/if]
#enddef