[terrain_type]
    symbol_image=gateStone/castleGate-tile
    id=SM_castle_gate
    name= _ "Castle Gate"
    editor_name= _ "Human Castle Gate"
    string=Chg
    aliasof=Ct
    unit_height_adjust=3
    recruit_onto=yes
    editor_group=castle
[/terrain_type]

{NEW:CASTLEWALL             Chg         (!,C*,K*,Xu*,Xo*)     !,Ket,!,C*,Ke*    gateStone/castleGateClosed}
{NEW:BASE                Chg                               gateStone/road}
#  [terrain_type]
#      symbol_image=castle/keep-tile
#      id=human_keep
#      name= _ "Keep"
#      editor_name= _ "Human Castle Keep"
#      string=Kh
#      aliasof=Ct
#      unit_height_adjust=20
#      recruit_from=yes
#      recruit_onto=yes
#      editor_group=castle
#  [/terrain_type]

[terrain_type]
    symbol_image=tunnel/trapdoor-open
    id=tunnel  
    name=_ "Tunnel"
    editor_name=_ "Tunnel"
    string=^Tnl  
    aliasof=_bas, Ct 
    unit_height_adjust=0 
    editor_group=castle  
[/terrain_type]
#  {NEW:VILLAGE             *^Tnl                                                     tunnel/trapdoor-closed}
{NEW:OVERLAY             *^Tnl                                  tunnel/trapdoor-closed}