#  {NEW:CASTLEWALL             Ch            (!,C*,K*,Xu*,Xo*)     !,Ket,!,C*,Ke*    castle/castle}
#  {NEW:CASTLEWALL2            Kh            !,Ket,!,C*,Ke*        (!,C*,K*,Xu*,Xo*) castle/keep-castle}
#  {NEW:CASTLEWALL             Kh            (!,K*,Xu*,Xo*)        K*                castle/keep}

#  {NEW:CASTLEWALL             Cha           (!,C*,K*,Xu*,Xo*)     !,Ket,!,C*,Ke*    castle/snowy/castle}
#  {NEW:CASTLEWALL2            Kha           !,Ket,!,C*,Ke*        (!,C*,K*,Xu*,Xo*) castle/snowy/keep-castle}
#  {NEW:CASTLEWALL             Kha           (Ke,Kea,!,K*,Xu*,Xo*) K*                castle/snowy/keep}