#  the unique input is to add to the beginning to identify the specific object
#  after that this block of lua appends the unit id to make that object id unique from
#  all other units who may have the same object applied to them, this is important for when we want to remove the object later on

#############################   USEAGE -IMPORTANT-  #############################
# this macro creates a variable which is substituted in where this macro is called, if you do not remove this variable after use
# there is a good chance that you will run into issues, so make sure to clear the $object_id variable to avoid unintended consequences.  

#define CREATE_NEW_OBJECT_ID UNIQUE_INPUT
    [lua]
        code = <<
            local unit = wesnoth.units.get(wml.variables["x1"], wml.variables["y1"])
            local raw_string = {UNIQUE_INPUT} .. unit.id
            local processed_string = raw_string:gsub("[%s-]+", "_")
            wesnoth.set_variable("objectId", processed_string)
        >>
    [/lua]
#enddef