#textdomain wesnoth-units
[unit_type]
    id=SM_Battering_Ram
    name= _ "Battering Ram"
    race=mechanical
    image="units/battering-ram-se-(L2).png"
    hitpoints=65
    movement_type=armoredfoot
    [movement_costs]
        castle=99
        water=99
        swamp=99
    [/movement_costs]
    [resistance]
        blade=90
        pierce=60
        impact=80
        fire=90
    [/resistance]
    movement=4
    experience=72
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=22
    description= _ "Battering rams are a type of siege equipment used for breaking down gates to allow soldiers to flood a castle with great speed"
    usage=archer
    [attack]
        name=ram
        description=_ "ram"
        icon=attacks/ram.png
        type=impact
        range=melee
        damage=6
        number=8
        [specials]
            [disable]
                id=anti_gate
                [filter_opponent]
                    [not]
                        [filter_location]
                            terrain=Chg*
                        [/filter_location]
                    [/not]
                [/filter_opponent]
            [/disable]
            {WEAPON_SPECIAL_MARKSMAN}
            {WEAPON_SPECIAL_KNOCKBACK}
        [/specials]
    [/attack]

    [standing_anim]
        start_time=0
        [if]
            direction=s
            [frame]
                image="units/battering-ram-s-(L2).png:200"
            [/frame]
        [/if]
        [else]
            direction=se,sw
            [frame]
                image="units/battering-ram-se-(L2).png:200"
            [/frame]
        [/else]
        [else]
            direction=n
            [frame]
                image="units/battering-ram-n-(L2).png:200"
            [/frame]
        [/else]
        [else]
            direction=ne,nw
            [frame]
                image="units/battering-ram-ne-(L2).png:200"
            [/frame]
        [/else]
    [/standing_anim]

    [attack_anim]
        [filter_attack]
            name=ram
        [/filter_attack]
        start_time=-1000
        {SOUND:HIT_AND_MISS mace.ogg mace-miss.ogg -100}
    [/attack_anim]
[/unit_type]

#  TODO:
#  ensure that the movement cost toggles between ground and rampart movement costs