#textdomain wesnoth-units
[unit_type]
    id=SM_Catapult
    name= _ "Catapult"
    race=mechanical
    image="units/catapult-se-(L2).png"
    hitpoints=45
    movement_type=armoredfoot
    [movement_costs]
        castle=99
        water=99
        swamp=99
    [/movement_costs]
    movement=4
    experience=64
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=28
    description= _ "Catapults are a type of siege equipment used to soften up a fortified defense, either by damaging fortifications or by weakening defenders. "
    usage=archer
    #  the main thing that will make the catapult useful will be when it can shoot ranged attacks
    [attack]
        name=boulder
        description=_"boulder"
        icon=attacks/sling.png
        type=impact
        range=ranged
        damage=24
        number=2
    [/attack]

    #  we need to implement a standing animation which captures the directions he is looking in
    [standing_anim]
        start_time=0
        [if]
            direction=s
            [frame]
                image="units/catapult-s-(L2).png:200"
            [/frame]
        [/if]
        [else]
            direction=se,sw
            [frame]
                image="units/catapult-se-(L2).png:200"
            [/frame]
        [/else]
        [else]
            direction=n
            [frame]
                image="units/catapult-n-(L2).png:200"
            [/frame]
        [/else]
        [else]
            direction=ne,nw
            [frame]
                image="units/catapult-ne-(L2).png:200"
            [/frame]
        [/else]
    [/standing_anim]

    #  we will want to do a missile animation
    [attack_anim]
        [filter_attack]
            name=boulder
        [/filter_attack]
        start_time=-1000
        offset=0

        sling_stone_start_time=-800

        [if]
            hits=yes
            [sling_stone_frame]
                halo="projectiles/stone-large.png:800"
                halo_x=24~0
                halo_y=0~-10,-10~-18,-18~-22,-22~-24,-24~-25,-25~-24,-24~-22,-22~-18,-18~-10,-10~-0
                offset=0.0~1.0
            [/sling_stone_frame]
            [frame]
                sound=sling-big.ogg
            [/frame]
        [/if] 
        [else]
            hits=no
            [sling_stone_frame]
                halo="projectiles/stone-large.png:900"
                halo_x=24~0
                halo_y=0~-10,-10~-16,-16~-20,-20~-22,-22~-20,-20~-16,-16~-10,-10~0,0~-4,-4~0,0~-2,-2~0
                offset=0.0~1.0
            [/sling_stone_frame]
            [frame]
                sound=sling-big-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
